# Normalisation par défaut
* text=auto

# Forcer LF sur code & docs
*.dart   text eol=lf
*.yaml   text eol=lf
*.yml    text eol=lf
*.md     text eol=lf
*.sh     text eol=lf
*.sql    text eol=lf
*.js     text eol=lf
*.ts     text eol=lf
*.json   text eol=lf

# Binaire
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
