jobs:
  analyze:
    name: Lints & Analyse
    runs-on: [self-hosted, Windows, X64]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4

      # IMPORTANT: installer jq AVANT Setup Flutter
      - name: Install jq (Windows)
        shell: pwsh
        run: |
          $dir = "$env:RUNNER_TEMP\jq"
          if (!(Test-Path $dir)) { New-Item -ItemType Directory -Force -Path $dir | Out-Null }
          $url = "https://github.com/jqlang/jq/releases/download/jq-1.7.1/jq-windows-amd64.exe"
          Invoke-WebRequest -Uri $url -OutFile "$dir\jq.exe"
          "$dir" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          & "$dir\jq.exe" --version

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Flutter version
        shell: pwsh
        run: flutter --version

      - name: Install deps
        shell: pwsh
        run: flutter pub get

      - name: Generate code (build_runner)
        shell: pwsh
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Format check
        shell: pwsh
        run: dart format --output=none --set-exit-if-changed .

      - name: Dart analyze
        shell: pwsh
        run: flutter analyze
